*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    color: blue;
}

h1, form, #result{
    text-align: center;
}

#result{
    background-color: yellow;
    color: black;
}
